.rivecomponent {
  overflow: hidden;
  display: flex;
  bottom: 0px;
  height: 100vh;
  width: 100vh;
  position: relative;
}

@media (max-width: 1250px) {
  .rivecomponent {
    height: 60vh;
    width: 100vh;
    transform: translateX(40px);
  }
}
