.profileContainer {
  position: relative;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  width: 100%;
  margin-top: 40px;
}
.profile {
  transition-duration: 0.6s;
  top: 80px;
  left: 6px;
  position: absolute;
  height: 30px;
  width: 30px;
  transition-duration: 0.5s;
  transform: translateY(40px);
  transition-timing-function: cubic-bezier(1, -0.16, 0.25, 1.03);
}

.profile:hover {
  height: 35px;
  width: 35px;
}

.profile img {
  border-radius: 100%;
  height: 100%;
  width: 100%;
  transition-duration: 0.5s;
}

.details {
  opacity: 0%;
  white-space: nowrap;
  transform: translateY(150px);
  transition-duration: 0.7s;
  margin-left: 40px;
  font-weight: 300;
  color: rgb(255, 255, 255);
  transition-timing-function: cubic-bezier(1, -0.16, 0.25, 1);
}

.font {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

h1 {
  font-size: 12px;
  margin-left: 20px;
  font-weight: 600;
}
