.home-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  position: relative;
}
.bgimg {
  position: fixed;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.cat {
  align-self: flex-start;
  z-index: 100;
}

.info {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1080px) {
  .cat {
    align-self: flex-end;
  }
}
