.cardContainer {
  position: relative;
  display: flex;
  border-radius: 5px;
  height: 35px;
  width: 100%;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

.icon {
  margin-left: 4px;
  position: fixed;
  height: 35px;
  width: 35px;
}
.icon img {
  border-radius: 3px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  scale: 98%;
  transition-duration: 0.3s;
}

.icon img:hover {
  scale: 102%;
}

.text {
  opacity: 100%;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 200px;
  transition-duration: 0.4s;
  transition-timing-function: ease;
}

.text a {
  font-size: 1rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition-duration: 0.5s;
  font-weight: 500;
  scale: 100%;
}

.text a:hover {
  color: rgba(255, 255, 255, 0.653);
  scale: 100%;
}

@media (max-width: 700px) {
  .icon {
    position: fixed;
    height: 35px;
    width: 35px;
    left: -3px;
  }
  .icon img {
    border-radius: 3px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 80%;
    transition-duration: 0.5s;
  }
  .icon img:hover {
    scale: 85%;
  }
}
