.infocontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding: 15px;
  margin-left: 100px;
  height: 600px;
  width: 500px;
  z-index: 200;
  transition-duration: 0.4s;
}

@media (max-width: 1080px) {
  .infocontainer {
    margin: 0px;
  }
}

.flex {
  padding: 12px;
  display: flex;
  justify-content: center;
  height: 9%;
  border-radius: 6px;
  width: 50%;
  transition-duration: 0.6s;
}

.flex:hover {
  height: 25%;
  width: 90%;
}
#ed {
  top: 30px;
}
p {
  justify-content: center;
  width: 100%;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  transition-duration: 0.4s;
  overflow: hidden;
  text-overflow: ellipsis;
  mix-blend-mode: color-burn;
}

span {
  color: rgb(0, 0, 0);
  font-weight: 600;
  mix-blend-mode: difference;
}
