.navCard {
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  border-radius: 5px;
  overflow: hidden;
  transition-duration: 0.4s;
}

.navCard:hover {
  scale: 110%;
  transform: translateY(-5px);
}
.navCard img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
