* {
  box-sizing: border-box;
  margin: 0px;
}
.font {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
body {
  background-color: aliceblue;
}
.container {
  position: fixed;
  overflow: hidden;
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.nave {
  z-index: 9999;
}

.content {
  height: 100vh;
  width: 100%;
}
