.sidebar {
  overflow: hidden;
  top: 10px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 60px;
  padding: 8px;
  gap: 10px;
  background: rgb(0, 0, 0);
  transition-duration: 0.7s;
  border-right: solid rgb(89, 88, 88);
  transition-timing-function: cubic-bezier(0.56, 0.19, 0.25, 0.88);
}

.sidebar:hover {
  width: 200px;
}

.sidebar:hover .text {
  margin-left: 70px;
}

.sidebar:hover .details {
  opacity: 100%;
  transform: translateY(100px);
}

.sidebar:hover .profile {
  width: 50px;
  height: 50px;
  transform: translateY(-30px);
}

@media (max-width: 700px) {
  .sidebar:hover {
    width: 60px;
  }
  .sidebar:hover .profile {
    width: 30px;
    height: 30px;
    transform: translateY(40px);
  }
  .sidebar:hover .details {
    opacity: 0%;
  }

  .sidebar {
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translateY(-40px);
    background-color: rgba(255, 0, 0, 0);
    border: 1px solid rgba(145, 43, 43, 0);
  }
}
