html,
body {
  scroll-behavior: smooth;
}

.about {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
.imgcon {
  position: fixed;
  top: 0px;
  z-index: 30;
  height: 100vh;
  width: 400px;
}

.pages {
  height: 100vh;
  scroll-snap-align: center;
}

.jump {
  z-index: 70;
  position: absolute;
  right: -300px;
  bottom: 0px;
  height: 400px;
  width: 600px;
}

.rivecomp {
  height: 20px;
  width: 100vh;
}
