.container-tools {
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  scroll-snap-type: Y mandatory;
  scrollbar-width: 0px;
  -ms-overflow-style: none;
  position: relative;
}
.container-tools::-webkit-scrollbar {
  display: none;
}

.page {
  height: 100%;
  width: 100%;
  scroll-snap-align: start;
}

.bounce {
  height: 10%;
}

.bg {
  position: fixed;
  height: 50%;
  width: 30%;
  object-fit: fill;
  top: 0px;
  left: 0px;
  z-index: -99;
}
